
.list-promo {
    background-color: white;
    
    padding: 3em 1.5em;
    border-bottom: 1px solid #ebecec;
}

.list-promo:nth-child(2) {
    background-color: #F7F8F8;
}

    .list-promo-header {
        font-size: 1.2em;
        font-weight: 700;

        text-align: center;
    }

    .list-promo-body {
        padding-top: 1em;
    }

        .list-promo-body-img {
            text-align: center;
        }

            .list-promo-body-img img {
                width: auto;
                height: 10em;
            }

        .list-promo-body-text {
            text-align: center;
            color: #4A4F54;
        }
        

/* Landscape phones and up */
@media (min-width: 576px) { 

    .list-promo {
        padding: 3em 
    }

    .list-promo:nth-child(1) {
        padding: 2em 
    }
}

/* Tablets and up */
@media (min-width: 768px) { 

    .list-promo:nth-child(1) {
        padding: 3em;
    }

    .list-promo:nth-child(2) .list-promo-body {
        flex-direction: row-reverse;
        padding-right: 0em;
        padding-left: 3em;
    }

        .list-promo-header {
            font-size: 1.5em;
        }

        .list-promo-body {
            display: flex;
            align-items: center;
            padding-right: 3em;
        }

            .list-promo-body-img {
                width: 40%;
            }

            .list-promo-body-text {
                font-size: 1.2em;
                width: 60%;
                
            }
}


/* Laptops and up */
@media (min-width: 992px) { 

    .list-promo:nth-child(2) .list-promo-body {
        padding-right: 3em;
        padding-left: 8em;
    }

    .list-promo-body {
        padding-left: 3em;
        padding-right: 8em;
    }
}


/* Desktops and up) */
@media (min-width: 1200px) { 

    .list-promo:nth-child(2) .list-promo-body {
        padding-right: 3em;
        padding-left: 10em;
    }

    .list-promo-body {
        padding-right: 10em;
        padding-left: 3em;
    }

        .list-promo-body-text {
            font-size: 1.4em;
        }

            .list-promo-body-img img {
                width: auto;
                height: 12em;
            }
}

/* HD Desktops and up */
@media (min-width: 1900px) { 

    .list-promo-header {
        font-size: 2em;
    }

        .list-promo-body-text {
            font-size: 1.5em;
        }

            .list-promo-body-img img {
                width: auto;
                height: 15em;
            }            

}