.list-team {

    margin-bottom: 2em;
    
}

    .list-team-title {
        font-size: 1em;
        font-weight: 700;
        text-align: center;
        color: #4A4F54;

        margin: 1.5em .5em .5em;
    }

    .list-team-body {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 1em;
    }

        .list-team-body-item {
            background: #f1f1f1;
            box-sizing: border-box;
            width: 100%;

            margin: 0 0 1em;
            padding: 2em 1em;

            border: 1px solid #d5d5d5;
            border-radius: 4px;
        }

            .list-team-body-item img {
                width: auto;
                height: 18em;
                border-radius: 50%;
                margin-bottom: 1.8em;
            }

                    .list-team-body-item-name {
                        color: #434343;
                        font-size: 1.25em;
                        text-transform: uppercase;
                        margin-bottom: .1em;
                    }

                    .list-team-body-item-job {
                        color: #686666;
                        font-weight: 500;
                    }


/* Tablets and up */
@media (min-width: 768px) { 
    
    .list-team-title {
        font-size: 1.5em;
        padding-left: 1em;
        padding-right: 1em;
        margin-bottom: 1em;
    }

    .list-team-body {
        justify-content: center;
    }

        .list-team-body-item { 
            width: 45%;
            margin-left: 1em;
        }

            .list-team-body-item img {
                width: auto;
                height: 18em;
                border-radius: 50%;
                margin-bottom: 1.8em;
            }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

    .list-team-body-item { 
        margin-left: 1.1em;
    }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

    .list-team-body {
        justify-content: space-evenly;
    }

        .list-team-body-item { 
            width: 30%;
        }
}


/* HD Desktops and up */
@media (min-width: 1900px) { 

    .list-team-title {
        font-size: 2em;
    }

}