.footer-wrap {
    display: flex;
    background-color: #2F3533;
    flex-direction: column;
    align-items: center;
    padding: .8em .5em 1em;
}
    .footer-header { 
        color: rgba(255,255,255,.3);
        font-size: .8em;
        margin-bottom: 0.3em;
    }

    .footer-body {
        color: rgba(255,255,255,.3);
        font-size: .6em;
    }
        .footer-body a {
            color: white;
            text-decoration: underline;
        }


/* Tablets and up */
@media (min-width: 768px) { 

    .footer-wrap {
        padding: 1em .5em 1em;
    }

        .footer-header { 
            font-size: 1em;
        }

        .footer-body {
            font-size: .8em;
        }
}