.footer {
    display: flex;
    background-color: #2F3533;
    flex-direction: column;
    align-items: center;
}
    .footer-header { 
        color: rgba(255,255,255,.3);
    }

    .footer-body {
        color: rgba(255,255,255,.3);
    }
        .footer-body a {
            color: white;
            text-decoration: underline;
        }