.footer {
    display: flex;
    background-color: #2F3533;
    flex-direction: row;
    justify-content: center;
}
    .rights { 
        display: flex;
        flex-direction: column;
        border-right: 1px solid rgba(255,255,255,.1);
        text-align: left;
        width: 50%;
    }

    .info {
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 50%;
    }

    /* .rights {
        border-right: 1px solid rgba(255,255,255,.1);
    }

        .rights span {
            color: #FFFFFF;
        }


    .info { 
        
    }
        .info span {
            color: rgba(255,255,255,.3);
        }
    
        .info span a {
            color: white;
            text-decoration: underline;
        } */