.text-address {
    border-top: 1px solid #ebecec;
    width: 100%;
}

    .text-address header {
        padding: 1em 1em 0;

        text-align: center;
        font-family: 'Gothic A1', sans-serif;
        font-size: 1.8em;
        font-weight: 700;

        margin-bottom: .4em;
    }

    .text-address-body {

        display: flex;
        flex-direction: column;
        /* flex-wrap: wrap; */

        width: 100%;

        padding: 1em;
        box-sizing: border-box;
    }

        .text-address-text {
            width: 100%;
            text-align: center;
            font-size: 1.3em;
            margin-bottom: 1em;
        }

        .text-address-map {
            width: 100%;
            height: 20em;
            border: 1px solid #d5d5d5;
        }
    


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

    .text-address-text {
        font-size: 1.5em;
    }

    .text-address-map {
        height: 25em;
    }

}

