<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Innovations">
    <meta name="author" content="Sintaxyz Team">

    <title>Testing</title>

    <link rel="stylesheet" href="http://localhost:9001/test/app.css">
</head>
<body>
    <div class="wrapper">
        <main class="main" id="main">
            <header class="header">
                <div class="navbar">
                    <span class="navbar-icon" id="navbar-icon">
                        <i class="fas fa-bars"></i>
                    </span>

                    <span class="navbar-title"></span>

                    <div>Este es un ejemplo</div>
                    <div>Ok estoy listo para este pedo del diseño</div>

                    <!-- <div class="navbar-alerts">
                        <i class="fas fa-bell"></i>
                    </div> -->

                    <span class="navbar-user" id="navbar-user">
                        <i class="fas fa-user-circle navbar-user-icon"></i>
                        <span class="navbar-user-text">
                            <div class="navbar-user-text-h1"></div>
                            <div class="navbar-user-text-h2"></div>
                        </span>
                        <i class="fas fa-caret-down navbar-user-row"></i>
                    </span>

                    <span class="navbar-out">
                        <a href="#" class="btn btn-red btn-small" id="btn-logout">
                            <i class="fas fa-sign-out-alt"></i>
                            Salir
                        </a>
                    </span>
                </div>
            </header>

            <div class="content">
            </div>

        </main>

        <footer class="footer">
            <div class="footer-text-left">
                
            </div>
            <div class="footer-text-right">
                Powered by Sintaxyz.com
            </div>
        </footer>
    </div>

    <script src="http://localhost:9001/test/app.min.js"></script>
</body>
</html>
