.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: #ebebeb solid 1px;
    position: relative;
}

    .main-header .main-header-logo {
        margin: .3em;
    }

        .main-header .main-header-logo img {
            height: 2em;
            font-size: 2em;
        }
    
    .main-header .main-header-menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #333;
        /* left: 0; */
        right: -100%;
        top: 0;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        transition: 0.7s;
    }

    .main-header .main-header-menu--show { 
        display: block;
        right: 0;
    }

        .main-header .main-header-menu a {
            display: block;
            color: white;
            padding: 20px;
            transition: 0.4s;
        }

        .main-header .main-header-menu a:hover {
            color: #3498db;
        }

        .main-header .main-header-menu .main-header-menu-closebtn {
            position: absolute;
            top: 5px;
            right: 10px;
            color: white;
            font-size: 1.5em;
        }

    .main-header .main-header-openbtn {
        margin: .4em .5em .4em .4em;
        color: #656a6f;
        font-size: 2em;
    }

    .main-header .main-header-openbtn:hover {
        color: black;
    }